# Auto detect text files and perform LF normalization
* text=auto

# Force LF for known text files
*.js text eol=lf
*.jsx text eol=lf
*.css text eol=lf
*.md text eol=lf

# Mark common binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
